---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Woojae Kim"
	pubDate={new Date('March 15 2026')}
	heroImage={AboutHeroImage}
>
	<h2>Woojae Kim (김우재)</h2>
	<p><strong>Research Interest:</strong> Graph Neural Networks, Application to Analytical Chemistry</p>
	
	<h3>Education</h3>
	<ul>
		<li><strong>B.S. in Systems Management Engineering</strong>, Sungkyunkwan University, Expected 2026.</li>
		<li><strong>M.S. in Industrial Engineering</strong>, Sungkyunkwan University, Expected to enter in Sep 2026.</li>
	</ul>
	
	<p>
		Hello! I'm currently an undergraduate student at Sungkyunkwan University, majoring in Systems Management Engineering (Industrial Engineering). 
		I am preparing to join the Master's program in Industrial Engineering at Sungkyunkwan University in September 2026.
	</p>
</Layout>

